<launch>

  <group ns="/modulair/core">
  <node pkg="modulair_core" name="modulair_app_manager" type="app_manager.py" output="screen"/>
    <arg name="app_manifest_path" default="$(find modulair_core)/modulair_application_manifest.yaml" />
    <param name="paths/app_manifest" textfile="$(arg app_manifest_path)" />
    <param name="paths/application_path" value="/home/kel/modulair_applications" /> 
  </group>
  <node pkg="modulair_core" name="modulair_infobar" type="modulair_infobar.py" output="screen"/>

  <rosparam>
    modulair:
      core:
        params:
          x: 1680
          y: 24
          width: 5760
          height: 3197
      app:
        params:
          height_percentage: .97
      infobar:
        params:
          height_percentage: .03    
      menu:
        params:
          height_percentage: 20.0    
  </rosparam>


</launch>
