<?xml version="1.0" encoding="utf-8"?>
<launch>

  <group ns="/modulair/core">
    <!-- set param -->
    <arg name="app_manifest_path"
         default="$(find modulair_core)/modulair_application_manifest.yaml" />
    <param name="paths/app_manifest" textfile="$(arg app_manifest_path)" />
    <param name="paths/application_path" value="/home/zihan/ros/groovy/lair/modulair_core_applications" /> 

    <!-- create app_manager node -->
    <node pkg="modulair_core" name="modulair_app_manager"
          type="app_manager.py" output="screen"/>

  </group>

  <!-- yaml format -->
  <!-- x: x offset y: y offset -->
  <!-- width/height: screen width/height -->
  <rosparam>
    modulair:
      core:
        params:
          x: 0
          y: 0
          width: 1400
          height: 900
      infobar:
        params:
          height_percentage: 20        
          icon_width: 5
          icon_spacer: 5
          text_height: 2
  </rosparam>

</launch>