<launch>
	<arg name="camera2" default="kinect2" />
	<arg name="device_id2" default="#2" />

	<include file="$(find openni_launch)/launch/openni.launch">
		<arg name="camera" value="$(arg camera2)" />
		<arg name="device_id" value="$(arg device_id2)" />
		<arg name="rgb_camera_info_url"   value="file://$(env ROS_HOME)/camera_info/rgb_$(arg device_id2).yaml" />
		<arg name="depth_camera_info_url" value="file://$(env ROS_HOME)/camera_info/depth_$(arg device_id2).yaml" />
	</include>

	<node name="tracker2" output="screen" pkg="openni_tracker_improved" type="openni_tracker" respawn="true">
		<param name="device_id" type="str" value="$(arg device_id2)" />
		<param name="tf_prefix" value="kinect_tracker_2" />
	</node>

	<node pkg="tf" type="static_transform_publisher" name="kinect2_transformation" args=" 1.85 0 1.25 -2.4 .5 0  /world /kinect2_link 10"/>
	<node pkg="tf" type="static_transform_publisher" name="kinect2_tracker_trans" args="0 0 0 0 0 0 /kinect2_link /kinect_tracker_2/openni_depth_frame 10"/>
	
</launch>
