<launch>
	<arg name="tracker_name_left" default="tracker_left" />
	<arg name="tracker_id_left" default="#1" />
	<!-- <arg name="tracker_bus_id_left" default="002@42"/> -->

<!-- 	<include file="$(find openni_launch)/launch/openni.launch">
		<arg name="camera" value="$(arg tracker_name_left)" />
		<arg name="device_id" value="$(arg tracker_id_left)" />
		<arg name="rgb_camera_info_url"   value="file://$(env ROS_HOME)/camera_info/rgb_$(arg tracker_id_left).yaml" />
		<arg name="depth_camera_info_url" value="file://$(env ROS_HOME)/camera_info/depth_$(arg tracker_id_left).yaml" />
	</include> -->

	<node name="tracker_left" pkg="wallframe_tracker" type="wallframe_tracker_node" respawn="true">
		<param name="device_id" type="str" value="$(arg tracker_id_left)" />
		<param name="camera_frame_id" type="str" value="/tracker_left_openni_depth_frame" />
		<param name="tf_prefix" value="tracker_left" />
	</node>

</launch>
