<launch>
	<arg name="camera1" default="kinect1" />
	<arg name="device_id1" default="#1" />

	<arg name="camera2" default="kinect2" />
	<arg name="device_id2" default="#2" />

	<include file="$(find openni_enumeration)/launch/multikinect.launch">
		<arg name="camera1" value="$(arg camera1)" />
		<arg name="device_id1" value="$(arg device_id1)" />
		<arg name="camera2" value="$(arg camera2)" />
		<arg name="device_id2" value="$(arg device_id2)" />
	</include>

	<node name="tracker1" pkg="openni_enumeration" type="multikinect" respawn="true">
		<param name="device_id" type="str" value="A00362A14171123A" />
		<param name="camera_frame_id" type="str" value="/kinect1_openni_depth_frame" />
	</node>

	<node name="static_tf1" pkg="tf" type="static_transform_publisher" args="0 -1 0 0 0 0 /center_frame /kinect1_openni_depth_frame 10" respawn="true" />

</launch>
